<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.ho.spex.emp.service.impl.DeptMapper">

	<resultMap type="deptVo" id="deptMap">
		<result property="departmentId"   column="department_id"/>
		<result property="departmentName" column="department_name"/>
		<result property="locationId"     column="location_id"/>
		<result property="managerId"      column="manager_id"/>
	</resultMap> 

	<insert id="insert" parameterType="deptVo">
	  <selectKey keyProperty="departmentId" resultType="string" order="BEFORE">
    		select max(department_id)+10 from hr.departments
  	  </selectKey>
	insert into hr.departments (
	     department_id, 
	     department_name, 
	     location_id, 
	     manager_id ) 
	 values( #{departmentId},
	     #{departmentName},
	     #{locationId},
	     #{managerId})	
	</insert>
	
	<update id="update" parameterType="deptVo">
		update hr.departments
			<set> 
	          department_name = #{departmentName}, 
	           location_id = #{locationId} ,
			   manager_id  = #{managerId}
			</set>    
		 where department_id = #{departmentId} 
	</update>
	<delete id="delete" parameterType="deptVo">
		delete hr.departments 
		 <where>
		 	<choose>
		 		<when test="departmentIds != null">
		 			department_id in 
		 			<foreach collection="departmentIds" 
		 				open="(" separator="," close=")"
		 				item="id">
		 				#{id}
		 			</foreach>
		 		</when>
		 		<otherwise> 
		 			department_id = #{departmentId} 
		 		</otherwise>
		 	</choose>
		 </where>		 
	</delete>

	<select id="selectAll" resultType="map" parameterType="deptVo">
		select department_id   as "departmentId", 
			   department_name as "부서명", 
			   location_id     as "지역", 
			   manager_id      as "managerId" 
	      from hr.departments 
	     <where>
	     	<if test="departmentName != null and departmentName !=''">
	     		and department_name =  #{departmentName}
	     	</if>
	     	<if test="locationId != null and locationId != ''">
	            and location_id = #{locationId}
	        </if>
	        <if test="managerId != null and managerId != ''">
	        <![CDATA[	        	
	           	and manager_id = #{managerId}
	        ]]>	            
	        </if>
	     </where>   
	     <if test="orderColumn != null and orderColumn != ''">
	     	order by ${orderColumn}
	     </if>
	</select>

	<select id="selectOne" parameterType="deptVo" >
		select department_id   , 
			   department_name , 
			   location_id     , 
			   manager_id
	      from hr.departments    
	     where department_id = #{departmentId} 
	</select>	

	<select id="deptEmpCnt" resultType="map">
		select department_name     as "departmentName"  , 
			   count(employee_id)  as "empCnt" 
	      from hr.departments d join hr.employees e   
	        on (d.department_id = e.department_id )
	     group by department_name
	</select>

</mapper>